/* header style */

.header{
    margin: 20px 150px 20px 150px;
}

.Awlad{
    text-align: start;
    /* border: 2px solid red; */
    display: flex;
    gap: 850px;
    padding: 5px;
    font-family: Azeret Mono;
    margin: 9px 5px;
    font-size: 10px;
    
}

.download{
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid rgba(243, 244, 247, 0.986);
    border-radius: 8px;
    opacity: 0.8;
    gap: 5px;
    border: 2px solid black;
    color: rgb(13, 19, 33); 

}
/* header style */
.have{
    color: rgba(0, 0, 0, 0.411);
}
.hero{
    height: 580px;
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
    font-family: Azeret Mono;
    color: #0D1321;
    gap: 0px;
    padding: 20px;
    /* display: flex; */
    font-size: 20px;
}
.heading{
    font-size: 20px;
}

.image-1{
    text-align: center;
}
.button{
    padding: 17px 24px 17px 24px;
    margin: -169px 0px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
}
.heading{
    flex-direction: column;
    margin: 39px;
    font-size: 45px;
}
.have{
    padding: 19px;
    font-size: 18px;
}


/* body part 1 */

.high{
    color: rgba(0, 0, 0, 0.411);
}
.body-1{
    text-align: center;
    margin: 60px 150px 60px 150px;
    font-size: 20px;
    background-color: aliceblue;
    font-family: Azeret Mono;
    padding: 40px;
    border-radius: 16px;

}
p{
    font-size: 15px;
}

.son-1{
    display: flex;
    justify-content: right;
    background-color: white;
    gap: 73px;
    border-radius: 16px;
    padding: 38px;
    margin: 20px 40px 20px 40px;
    text-align: start;
}
.code{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.411);
    text-align: start;
}
.coding{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
    text-align: start;
}
.More{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.281);
    background-color: #FFFFFF;
    padding: 10px;
    text-align: start;
}

.son-2{
    display: flex;
    justify-content: right;
    gap: 83px;
    background-color: white;
    border-radius: 16px;
    padding: 38px;
    margin: 20px 40px 20px 40px;
}
.assets{
    justify-content: left;
}

.son-2-2{
    justify-content: right;
    text-align: left; 
    font-size: 15px;
    color: rgba(0, 0, 0, 0.411);
    /* text-align: start; */
}
.help{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
}
.p{
    /* border: 2px solid blue; */
    text-align: left;
    padding: 0px;
}
.button-1{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.281);
    background-color: #FFFFFF;
    padding: 10px;
    text-align: start;
}
/* .son-2-1{
    justify-content: right;
    display: flex;
    background-color: #ffffff8a;
    gap: 83px;
    border-radius: 16px;
    padding: 38px;
    border: 3px solid red;
}

.son-2-2{
    justify-content: left;
}
 */


.son-3{
    display: flex;
    justify-content: left;
    background-color: white;
    gap: 73px;
    border-radius: 16px;
    padding: 38px;
    margin: 20px 40px 20px 40px;
    text-align: start;

}

/* video section style  */

.imspiration{
    color: rgba(0, 0, 0, 0.726);
}
.video-section{
    text-align: center;
    font-family: Azeret Mono;
    margin: 20px 150px 20px 150px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.411);
}
.video{
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

/* html css js style */

.current{
    color: rgba(0, 0, 0, 0.726);
}
.your{
    color: rgba(0, 0, 0, 0.411);
}
.markup{
    color: rgba(0, 0, 0, 0.411);
}
.png-section{
    text-align: center;
    /* border: 3px solid red; */
    margin: 20px 150px 20px 150px;
    font-family: Azeret Mono;

}
.all-png{
    display: flex;

    gap: 24px;
    text-align: start;
    height: 360px;
}

.html{
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
padding: 20px;
}
.css{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    padding: 20px;
}
.JavaScript{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    padding: 20px;

}
.learn-more{
    color: rgba(0, 0, 0, 0.267);
    font-size: 14px;
}

/* targer-section style */

.web{
    color: rgba(0, 0, 0, 0.411);
}
.targer-section{
    text-align: center;
    margin: 20px 150px 20px 150px;
    font-family: Azeret Mono;
    /* border: 1px solid blue; */
}  

.ReactJS{
    border: 2px solid black;
    display: flex;
    gap: 80px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.521);
    /* padding: 5px; */
    /* margin: 5px; */
}
 .image{
    padding: 20px;
    display: flex;
    justify-content: left;
    text-align: start;
    font-size: small;
    /* border: 2px solid red; */
 }
 .content{
    text-align: start;
 }
 .NodeJs{
    border: 2px solid black;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
 }
 .MongoDB{
    border: 2px solid black;
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
 }

 /* support-section style */

 .support-section{
    background-image: url("../assets/handshake.jpg");
    border-radius: 16px;
    margin: 20px 150px 20px 150px;
    text-align: center;
    font-family: Azeret Mono;
 }



 .footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    gap: 500px;
    padding: 20px 150px 20px 150px;
    margin: 3px 0px;
    font-family: Azeret Mono;
 }

 
/* Responsive style */
 .hide{
    display: none;
 }

 @media screen and (max-width:576px) {
    .Awlad{
        flex-direction: column;
        gap: 20px;
        align-content: center;
        flex-wrap: wrap;
    }
    .download{
        width: 100px;
    }
    .hero{
        background-image: 100%;
        padding: none;
    }
    .heading{
        margin: 5px;
        font-size: 17px;
    }
    .have{
        margin: 3px;
        font-size: 15px;
    }
    .button{
        padding: 15px 20px;
    }
/* main body style */
    .body-1{
        font-size: 10px;
        margin: 10px;
        padding: 5px;
        font-size: 12px;
    }
    .high code{
        font-size: 15px;
    }
    .son-1 {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        padding: 10px;
        margin: 10px;
    }
    .coding .help{
        font-size: 14px;
    }
    .More{
        border-radius: 4px;
    }
    .son-2{
        margin: 10px;
        padding: 10px;
    }
    .button-1{
        border-radius: 4px;
    }
 }