/* header style */
#Hero{
    height: 580px;
    background-image: url("../assets/Hero-bg.png");
    text-align: center;
    font-family: Azeret Mono;
    color: #0D1321;
    gap: 26px;
    padding: 26px;
    /* flex-direction: column; */
    border: 3px solid red;
    display: flex;

}
.button{
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    border: 3px solid red;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
}
.heading{
    flex-direction: column;
    margin: 35px;
}
